.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myimage {
  padding: 0 20px;
}
.myphoto {
  border-radius: 75px;
}
.myname {
  font-family: "Poppins";
  font-size: 30px;
}
.txtwrap {
  word-break: keep-all;
}

.skillbar h4 {
  float: left;
  padding-right: 1rem;
  margin: 0 auto;
}
.skillnamebar {
  margin: 0 auto;
  padding: 0 auto;
}
.skillbar progress {
  min-width: 300px;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    max-width: 75vw;
  }
  .myimage {
    padding: 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 415px) {
  .wrapper {
    max-width: 75vw;
  }
  .myimage {
    padding: 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 391px) {
  .wrapper {
    max-width: 75vw;
  }
  .myimage {
    padding: 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  .wrapper {
    max-width: 90vw;
  }
  .myimage {
    padding: 0 0;
    text-align: center;
  }
}
