@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poppins&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Bootstrap Navbar Components CSS */
.navbar {
  font-family: "Poppins";
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}
#navbarNav {
  justify-content: end;
}
.blandname {
  font-size: 25px;
  margin: 22.5px auto;
  margin-left: 15px;
}
.blandname-mobile {
  font-size: 25px;
  margin: 22.5px auto;
  margin-left: 15px;
  display: none;
}
.nav-item {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 25px 10px;
  min-width: 10vw;
  text-align: center;
}
.navbar li a {
  letter-spacing: 3.5px;
  color: black;
  text-decoration-line: none;
}
/* About Page is Github Bootstrap-icons */
.github-icon-size {
  font-size: 30px;
}
i {
  color: black;
  margin: auto 1rem;
}
i:hover {
  color: cornflowerblue;
}
/* About Page Progress-bar CSS */
#Progress_Html {
  min-height: 1.8rem;
}

@media (max-width: 897px) {
  .navbar-nav li {
    margin: 0 0;
    text-align: start;
  }
  .nav-item {
    padding: 15px 15px;
  }
  .github-icon-size {
    font-size: 30px;
  }
}
@media (max-width: 845px) {
  .navbar-nav li {
    margin: 0 0;
    text-align: start;
  }
  .nav-item {
    padding: 15px 15px;
  }
  .github-icon-size {
    font-size: 30px;
  }
}
@media (max-width: 813px) {
  .navbar-nav li {
    margin: 0 0;
    text-align: start;
  }
  .nav-item {
    padding: 15px 15px;
  }
  .github-icon-size {
    font-size: 30px;
  }
}
@media (max-width: 668px) {
  .navbar-nav li {
    margin: 0 0;
    text-align: start;
  }
  .nav-item {
    padding: 15px 15px;
  }
  .github-icon-size {
    font-size: 30px;
  }
}
@media screen and (max-width: 415px) {
  .blandname {
    display: none;
  }
  .blandname-mobile {
    display: inherit;
  }
  .navbar-nav li {
    margin: 0 0;
    text-align: start;
  }
  .nav-item {
    padding: 15px 15px;
  }
  .github-icon-size {
    font-size: 30px;
  }
}
@media screen and (max-width: 391px) {
  .blandname {
    display: none;
  }
  .blandname-mobile {
    display: inherit;
  }
  .navbar-nav li {
    margin: 0 0;
    text-align: start;
  }
  .nav-item {
    padding: 15px 15px;
  }
  .github-icon-size {
    font-size: 30px;
  }
}
@media screen and (max-width: 376px) {
  .blandname {
    display: none;
  }
  .blandname-mobile {
    display: inherit;
  }
  .navbar-nav li {
    margin: 0 0;
    text-align: start;
  }
  .nav-item {
    padding: 15px 15px;
  }
  .bs-icon-size {
    font-size: 40px;
  }
  .github-icon-size {
    font-size: 30px;
  }
}
